<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AjaxServlet</display-name>
  
  <servlet>
  	<servlet-name>formServlet</servlet-name>
  	<servlet-class>com.naruto.servlet.FormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>formServlet</servlet-name>
  	<url-pattern>/form</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>askServlet</servlet-name>
  	<servlet-class>com.naruto.servlet.AskServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>askServlet</servlet-name>
  	<url-pattern>/ask</url-pattern>
  </servlet-mapping>
  <!-- 商店 -->
  <servlet>
  	<servlet-name>shopServlet</servlet-name>
  	<servlet-class>com.naruto.servlet.shopping.ShopServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>shopServlet</servlet-name>
  	<url-pattern>/shopping</url-pattern>
  </servlet-mapping>
  <!-- 购物车 -->
  <servlet>
  	<servlet-name>cartServlet</servlet-name>
  	<servlet-class>com.naruto.servlet.shopping.CartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>cartServlet</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <!--  结果 -->
  <servlet>
  	<servlet-name>cartsServlet</servlet-name>
  	<servlet-class>com.naruto.servlet.shopping.CartsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>cartsServlet</servlet-name>
  	<url-pattern>/carts</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>